
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

.container {
  background-color: rgb(227, 226, 226);
  max-width: 90%;
  margin: 0 auto;
}

.header {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;

  h1 {
    padding: 15px 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:initial;
  min-height: 100vh;
}

.picturesContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include md {
    grid-template-columns: repeat(3, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }
}

.picture {
  -webkit-box-shadow: -1px 10px 7px -8px rgba(120,120,120,1);
  -moz-box-shadow: -1px 10px 7px -8px rgba(120,120,120,1);
  box-shadow: -1px 10px 7px -8px rgba(120,120,120,1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  border-radius: 10px;
  border: 1px solid gray;

  & .pictureHeader {
    border-radius: 10px 10px 0 0;
    height: 20%;
    width: 100%;
    padding: 5px;

    p {
      text-align: center;
      font-weight: bold;
      font-family:'Courier New', Courier, monospace;
    }
  }

  & .imgWrapper {
    border-radius:0 0 10px 10px ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.pagination {
  display: inline-flex;
  gap: 5px;
  margin: 20px auto;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtersWrapper {
  width: 100%;
  margin: 10px 0;

  p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
  }

  & .btnGroup {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding: 5px;
  }

  & .pickerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & .picker {
      padding: 10px;
      font-size: 15px;
      text-align: center;
      font-family: "JetBrains Mono",monospace;
    }
  }
}

.selectBtn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #232428;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.selectBtn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.selectBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.selectBtn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.spinner {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(212, 30, 30);
  border-color: rgb(129, 116, 116) transparent rgb(36, 34, 34) transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notFound{
  text-align: center;
  font-family: "JetBrains Mono",monospace;

  & p {
    font-weight: bold;
  }
}
